:root {
  --primary-color: #252836;
  --secondary-color: #1f1d2b;
  --highlight-color: #ea7c69;
  --primary-text-color: #fff;
  --secondary-text-color: #393c49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
